@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a:link {
    text-decoration: none;
}

.menu {
    background-color: #3D3D3D;
}

.content {
    flex-grow: 1;
    padding: 0rem 1rem;
    box-sizing: content-box;
}

.content-map {
    padding: 0;
}

.menu-item {
    cursor: pointer;
    display: block;
    color: white;
    font-weight: 300;
    background-position: 1.0em .75em;
    background-repeat: no-repeat;
    background-size: 1.1em;
    padding: .75em 1.5em .75em 3em;
}

.menu-item:hover {
    background-color: #494949;
}

.menu-item-selected {
    background-color: #494949;
}

.profile {
    background-image: url(../img/usr.png);
}

.car {
    background-image: url(../img/carba.png);
    background-position: 1.0em 1.05em;
    background-size: 1.25em;
}


.menu-profile {
    align-items: flex-end;
    align-content: flex-end;
    background-image: url(../img/avatar.png);
    background-position: 1em;
    background-repeat: no-repeat;
    background-size: 3em;
    padding: .75em 1.5em;
    padding-left: 4.5em;
    border-bottom: 1px #494949 solid;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.menu-logout {
    cursor: pointer;
    font-size: 15px;
    color: #8D8D8D;
    text-decoration: underline;
    background-image: url(../img/exit.png);
    background-position-x: right;
    background-position-y: center;
    text-align: end;
    background-repeat: no-repeat;
    background-size: 1em;
    padding: .0em 1.5em;
    padding-right: 1.5em;
}

#mapid {
    width: 100%;
    height: 100%;
}

.map-car {
    z-index: 4999;
    position: relative;
    top: 50%;
    width: 100.5px;
    height: 60.5px;
    background-image: url(../img/car.png);
    background-size: 100px;
    background-repeat: no-repeat;
}

.tabs {
    background-color: #F7F7F7;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tab-item {
    cursor: pointer;
    color: #6F6E6E;
    background-color: transparent;
    padding: .75em;
}

.tab-item:hover {
    background-color: rgb(200, 200, 200);
}

.content h1 {
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 1px #E4E4E4 solid;
}

.table {
    width: 100%;
}

.table thead {
    background-color: #f4f4f4;
}

.table th {
    font-weight: 500;
    padding: .75em;
}

.table td {
    font-weight: 300;
    text-align: center;
    padding: .75em;
}

.table tr:nth-child(even) {
    background-color: #F4F4F4;
}

.table tr:hover {
    background-color: #F4F4F4;
}

.active {
    color: #67CF55;
}